<form action="/cerca_matricola" method="POST">
    <input type="text" name="codice">
    <input type="submit" value="Cerca matricola">
  </form>


<table>
    <thead>
        <tr>
            <th>Somma</th>
            <th>Codice</th>
            
        </tr>
    </thead>
    <tbody>
        {% for row in matricole %}
        <tr>
            <td>{{ row[0] }}</td>
            
            <td>{{ row[2] }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/">Torna alla pagina Principale</a>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #dddddd;
    }
</style>